@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


header, section, article, nav, footer, aside, figure, form{
    display: block;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    display: block;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p, h1, h2,h3, h4{
    color: white;
    margin: 6px;
}
h1{font-size: 24px;}
h2{font-size: 20px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
p{font-size: 14px;}
a{
    text-decoration: none;
}
a img{
    padding: 0 10px;
    border: none;
}
ul, ol{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #555555;
}
#scrollUp{
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    /* background-image: ; */
}
/* -------------------HEADER------------------------ */
header{
    background-color: #000000;
}
#cajacabecera{
    width: 100%;
}
.servidor{
    width: 100%;
    max-height: 400px;
    padding: 0px;
}
#cabecera{
    width: 100%;
    max-height: 1100px;
    display: flex;
    margin: auto;
/*     background-color: transparent; */
    background-color: #0000004b;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
#menu-inferior{
    width: 100%;
    max-height: 1100px;
    display: flex;
    margin: auto;
    /* background: #254580; */
    background: #67254E;
    left: 0;
    top: 0;
    z-index: 999;
}
#logo{
    width: 20%;
    padding: 6px 0;
}
/* -------------------SECCIONES------------------------ */
.menu{
    width: 80%;
}
#btn-menu{
    display: none;
}
#mmovil{
    font-size: 25px;
    cursor: pointer;
    text-align: left;
    color: white;
    display: none;
    padding: 10px 20px;
} 
main{
    background: linear-gradient(to bottom left, #000000, #000000, #110C3B);
    padding: 1px 0px;
    display: flex;
    padding: 118px 50px 0px 0px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    height: 260px;
}
.sn{
    max-height: 2000px;
    margin: 100px;
 
}
.frase{
    font-style: italic;
    margin: 30px;
}
p{
    text-align: justify;
    font-family: sans-serif;
    font-size: 17px;
}
/* -------------------MENU------------------------ */

.menu{
    width: 80%;
}
/* #btn-menu{
    display: none;
}
#mmovil{
    font-size: 25px;
    cursor: pointer;
    text-align: left;
    color: white;
    display: none;
} */
.menu ul{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu a{
    display: block;
    line-height: 60px;
    padding: 0px 30px;
    color: white;
    font-size: 20px;
}
.menu a i{
    font-size: 20px;
    padding: 0 9px;
}
.menu a:hover{
    color: #000000;
    border-bottom: 2px solid #f2f2f2;
    background-color: #CD9FA3;
}

/* ---------------PIE DE PAGINA----------------------- */
#piepagina{
    background: #67254E;
    padding: 2% 0;
}
h3{
    text-align: center;
    font-family: Arial;
    font-size: 13px;
}
/*.cajapie{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
} 
#piepagina p{
    text-align: left;
    color: #ffffff;
    font-size: 30px;
}
#piepagina ul{
    width: 160px;
    margin: 0 auto;
    padding: 0 0 0 100px;
    display: flex;
    list-style: none;
}
#piepagina ul li{
    padding: 0 14px;
}
#piepagina ul li a{
    width: 4opx;
    height: 40px;
    display: block;
    line-height: 40px;
    color: white;
    text-align: right;
    font-size: 35px;
} */
