/*  ------------------------------------------------------------
 -----------------ESTILO PARA 1024---------------------------
 ------------------------------------------------------------ */
 @media only screen and (max-width: 1024px){

 }
 /*  ------------------------------------------------------------
  -----------------ESTILO PARA 920---------------------------
  ------------------------------------------------------------ */
 @media only screen and (max-width: 920px){
  
    #cabecera{
        height: 50px;
    }
    #logo{
         width: 100%;
     }
    #logo img{
        display: block;
        margin: auto;
     }
 /* ---------------------------MENU------------------------------------- */
   .menu{
        position: absolute;
        width: 300px; 
        top: 100%;
        transform: translateX(-100%);
     }
    #mmovil {
        display: block;
     }
     #mmovil i{
        text-align: right;
     }
    .menu ul{
         flex-direction: column;
         background: #333233;
     }
     img{
        height: 200px;
    }
    .menu a{
         line-height: 30px;
         padding: 10px 20px;
         border-bottom: 1px solid rgb(63, 62, 62);
         text-transform: uppercase;
         font-size: 15px;
     } 
    .menu a i{
        padding: 0px;
        font-size: 0px;
        } 
    #btn-menu:checked ~ .menu{
        display: initial;
         transform: translateX(0%); 
         transition: all 0.6s; 
     }
     .menu a:hover{
        color: #000000;
        border-bottom: 0px solid #f2f2f2;
        background-color: #CD9FA3;
    }
/* -------------------SECCIONES------------------------ */
.psecciones{
    justify-content: center;
}
aside{
    margin: 20px 53px;
    padding: 10px;
    width: 285px;
    height: 360px;
}
p{
    font-size: 16px;
    padding: 3px 0;
}
div{
    height: 100px;
    width: 263px;
    background: rgb(190, 183, 183);
}
aside > h2{
    font-size: 17px;
    margin: 0;
}
h4{
    font-size: 10px;
}
aside a{
    font-size: 14px;
}
  } 

  /*  ------------------------------------------------------------
  -----------------ESTILO PARA 603---------------------------
  ------------------------------------------------------------ */
  @media only screen and (max-width: 603px){
 
 }
 /*  ------------------------------------------------------------
  -----------------ESTILO PARA 533---------------------------
  ------------------------------------------------------------ */
  @media only screen and (max-width: 533px){
 
}